@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #111;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 62.5%;
    opacity: .8;
}

/* Header Section */

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8rem;
}

h1 {
    color: #FF7F50;
    font-size: 2.5rem;
    font-weight: 350;
}

/* Main Section */

main {
    display: flex;
    justify-content: center;
    flex: 0 1 1;
    align-items: center;
    height: 100%;
    margin: 7rem 0 0 0;
}

.calculator-container {
    padding: 2rem;
    border-radius: .5rem;
    background-color: #454545;
}

/* Calculator Screen */

.top-screen {
    color: #FFF;
    display: flex;
    justify-content: end;
    align-items: center;
    height: 2rem;
    padding: 0 .5rem;
    font-size: 1.75rem;
    font-weight: 300;
}

.bottom-screen {
    color: #FF7F50;
    display: flex;
    justify-content: end;
    align-items: center;
    height: 4rem;
    padding: 0 .5rem;
    font-size: 3.5rem;
    font-weight: 300;
    margin-top: 1rem;
}

/* Button Display */

.button-display {
    display: flex;
    flex-direction: column;
    margin-top: .5rem;
    gap: .25rem;
}

button {
    background-color: #454545;
    color: #FF7F50;
    border-radius: .5rem;
    font-size: 1.25rem;
    font-weight: 400;
    height: 3.5rem;
    width: 3.5rem;
}

.operators {
    background-color: #FF7F50;
    color: #454545;
}

button:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: ease-in-out 1s;
}

/* Footer Section */

footer {
    display: flex;
    min-width: 100%;
    left: 0;
    bottom: 0;
    position: absolute;
    justify-content: center;
    padding: 1.25rem 0;
    font-size: 1.25rem;
    height: 4rem;
    letter-spacing: .1rem;
}

footer p {
    color: #FF7F50;
    display: flex;
    align-items: center;
    gap: .5rem;
}

footer i {
    font-size: 2rem;
    color: #FFF;
}

@media screen and (min-width: 320px) and (max-width: 375px) {

    .calculator-container {
        margin: -5rem 0 0 0;
    }
}

@media screen and (min-width: 376px) and (max-width: 425px) {

    .calculator-container {
        margin: -5rem 0 0 0;
    }
}

@media screen and(min-width: 426px) and (max-width: 768px) {

    .calculator-container {
        margin: -3rem 0 0 0;
    }
}